$cur-color: #ffe451;
$bg-color: #f3f3f3;
$hover-color: #cbe0ff;
$selected-color: #cce5f1;
$border-color: #e7e7e7;

.simple-momentpicker {
  width: 150px;
  background: #fff;
  font-size: 12px;
  display: none;
  z-index: 300;

  a {
    text-decoration: none;
  }

  &.date-picker {
    .calendar-menu {
      .menu-item {
        display: block;
        width: 25%;
        padding: 5px 0;
        text-align: center;
        box-sizing: border-box;
        cursor: pointer;
        float:left;
        &:hover {
          background: $hover-color;
        }
      }
      .cur-month {
        display: block;
        padding: 5px 0;
        text-align: center;
        box-sizing: border-box;
        width: 50%;
        float:left;
        font-weight: bolder;
      }
    }

    table.calendar {
      width: 100%;
      tr.datepicker-dow {
        color: #999;
      }
      td {
        width: 24px;
        line-height: 24px;
        margin: 0;
        padding: 0;
        text-align: center;
        vertical-align: middle;
        &.datepicker-day a {
          display: block;
          height: 100%;
          background: $bg-color;
          color: #333;
          border-bottom: 2px solid #fff;
          -webkit-text-shadow: 0 1px 0 white;
          -moz-text-shadow: 0 1px 0 white;
          text-shadow: 0 1px 0 white;

          &.today {
            background: $cur-color;
          }

          &.others {
            background: #fff;
            color: #cccccc;
          }

          &:hover {
            background: $hover-color;
          }

          &.selected {
            background: $selected-color;
          }

          &.disabled {
            background: #fff;
            color: #ccc;
            cursor: default;
            pointer-events: none;
          }
        }
      }
    }
  }

  &.time-picker {
    height: 160px;
    .hour-panel {
      width: 60%;
      height: 100%;
      overflow-y: scroll;
      float: left;
      padding-right: 10px;
      box-sizing: border-box;
      a.panel-item {
        margin: 2px 0;
        padding-right: 10px;
        background-color: $bg-color;
        display: block;
        text-align: right;
        cursor: pointer;
        &.selected {
          background-color: $selected-color;
        }
        &.cur {
          background-color: $cur-color;
        }
        &:hover {
          background-color: $hover-color;
        }
      }
    }
    .quarter-panel {
      display: block;
      float: left;
      width: 40%;
      height: 100%;
      box-sizing: border-box;
      a.panel-item {
        box-sizing: border-box;
        background-color: $bg-color;
        margin: 2px 0;
        padding-left: 5px;
        display: block;
        height: 38px;
        line-height: 38px;
        width: 100%;
        cursor: pointer;
        &.selected {
          background-color: $selected-color;
        }
        &.cur {
          background-color: $cur-color;
        }
        &:hover {
          background-color: $hover-color;
        }
      }
    }
  }
  &.month-picker {
    .calendar-menu {
      .menu-item {
        display: block;
        width: 25%;
        padding: 5px 0;
        text-align: center;
        box-sizing: border-box;
        cursor: pointer;
        float:left;
        &:hover {
          background: $hover-color;
        }
      }
      .cur-month {
        display: block;
        padding: 5px 0;
        text-align: center;
        box-sizing: border-box;
        width: 50%;
        float:left;
        font-weight: bolder;
      }
    }
    .calendar-panel {
      a.panel-item {
        display: block;
        float: left;
        width: 23%;
        margin: 1%;
        box-sizing: border-box;
        background-color: $bg-color;
        height: 38px;
        line-height: 38px;
        text-align: center;
        cursor: pointer;
        &.cur {
          background-color: $cur-color;
        }
        &.selected {
          background-color: $selected-color;
        }
        &:hover {
          background-color: $hover-color;
        }
      }
    }
  }
}

